@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;
    width: 100%;
    height: 100vh;
}

#calender {
	width: 600px;
	margin: 0 auto;
	display: flex;
    position: absolute;
    top:20%;
    left:35%;
	flex-direction: column;
    border-radius: 13px;
    background: rgba(39, 39, 39, 0.9);
    box-shadow: 3px 5px 7px #1c3672;
}
#timeInf{
    color:#fff;
    font-size: 3em;
    padding: 40px;
}
#calender ul {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

#calender li {
	width: 14.2857142857143%;
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
	height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-year {
	color: #ffd600;
	align-items: center;
	justify-content: center;
}
#title-month{
    color: #ffd600;
}
.dateInf{
    display: flex;
    height: 135px;
}
#dayctl {
	color: #fff;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    height: 25px;
    padding: 10px;
    border-top: 1px solid #5a5a5a;
}
.space{
    flex:2;
}
#prev,#next {
	cursor: pointer;
    padding-left: 15px;
}

.block {
	display: flex;
}
.block:nth-child(1){   
    height:170px;
    flex-direction: column;
}
.block:nth-child(2) {
	flex-direction: row;
	justify-content: space-around;
	height: 30px;
	align-items: center;
}
.cloud{
    width: 90px;
	height: 40px;
	background-color: #fff;
	border-radius: 60px;
	position: relative;
    top: 45px;
    left: 20px;
    box-shadow: 5px 6px 20px #000;
    animation: floa 10s infinite;
    -moz-animation: floa 10s infinite;	/* Firefox */
    -webkit-animation: floa 10s infinite;	/* Safari 和 Chrome */
    -o-animation: floa 10s infinite;	/* Opera */
}
.rain{
    width:4px;
    height:4px;
    border-radius: 50%;
    background: #c6c6c6;
    position: absolute;
    animation: raining 1s infinite linear;
}
.cloud:before{
    content: '';
    position: absolute;
	top: -30px;
	left: 50px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -1;
}

.cloud:after{
    content: '';
    position: absolute;
	top: -18px;
	left: 18px;
	width: 35px;
	height: 35px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -1;
}

@keyframes raining
{
     0%{
         top: 30px;
         opacity: 0.5;
    }
    80%{
        opacity: 0.8;
    }
   100%{
       top: 70px;
       opacity: 0;
    }
}

@-moz-keyframes raining /* Firefox */
{
      0%{
         top: 30px;
         opacity: 0.5;
    }
     80%{
        opacity: 0.8;
    }
   100%{
       top: 70px;
       opacity: 0;
    }
}

@-webkit-keyframes raining /* Safari 和 Chrome */
{
      0%{
         top: 30px;
         opacity: 0.5;
    }
     80%{
        opacity: 0.8;
    }
   100%{
       top: 70px;
       opacity: 0;
    }
}

@-o-keyframes raining /* Opera */
{
      0%{
         top: 30px;
         opacity: 0.5;
    }
     80%{
        opacity: 0.8;
    }
   100%{
       top: 70px;
       opacity: 0;
    }
}


@keyframes floa
{
     0%{top: 38px;}
    25%{top: 51px;}
    50%{top: 38px;}
    75%{top: 51px;}
   100%{top: 38px;}
}

@-moz-keyframes floa /* Firefox */
{
      0%{top: 38px;}
    25%{top: 51px;}
    50%{top: 38px;}
    75%{top: 51px;}
   100%{top: 38px;}
}

@-webkit-keyframes floa /* Safari 和 Chrome */
{
      0%{top: 38px;}
    25%{top: 51px;}
    50%{top: 38px;}
    75%{top: 51px;}
   100%{top: 38px;}
}

@-o-keyframes floa /* Opera */
{
      0%{top: 38px;}
    25%{top: 51px;}
    50%{top: 38px;}
    75%{top: 51px;}
   100%{top: 38px;}
}


.w-list {
	color: #fff;
}

.d-list li {
	height: 36px;
}

.passDay {
	color: #c6c6c6;
}

.toDay {
	color: #fff;
	
}
.toDay:before{
    content:"";
    background: #D05C5C;
}
.future{
    color:#FF9E00;
}
