@charset "utf-8";
/* CSS Document */


@media (max-width: 450px) {
    .header .block:nth-child(1){
        flex-direction: column;
        align-items: center;
        background: #0095bd;
        height:50px;
        width: 100%;
    }
    *{margin:0;padding:0;}
    body {font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;height:100%;margin:0;}
    .wrap{margin:0 auto;background: #d3edfb;border: 1px solid #dedede;}
    .header{}
    .block{
        display: flex;
    }
    .header > .block > .inf {display: none;}
    .header .block:nth-child(1){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #0095bd;
        height:50px;
        width: 100%;
    }
    .pageTitle{color:#fff;margin: 0 auto;font-size: 1.3em;}
    .header .block:nth-child(2){
        flex-direction: column;
        margin-top:10px;
        width: 100%;
        height:800px;
        background:url("../img/kv-bg.png")no-repeat center;
        background-size: cover;
    }

    .header .block:nth-child(2) > .cnt > .map {
        background: url(../img/kv-map.png)no-repeat center;
        background-size: cover;
        width: 100%;
        height: 400px;
    }
    .header .block:nth-child(2) > .cnt > .home{
        background: url("../img/kv-home.png")no-repeat center;
        background-size: contain;
        position: absolute;
        width: 100%;
        height: 400px;
        top: 50px;
    }
    .header .block:nth-child(2) > .cnt > .people{
        animation-delay: 2s;
        background: url("../img/kv-people.png")no-repeat center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 240px;
        top: 70px;
    }
    .header .block:nth-child(2) > .cnt > .slogan{
        background: url(../img/kv-title.png)no-repeat center;
        background-size: contain;
        height: 100%;
    }
    .header .block:nth-child(2) > .cnt{
        width:100%;
        height:400px;
    }
    .header .block:nth-child(2) > .cnt:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    .header .block:nth-child(2) > .cnt > .link{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin: 20px auto;
    }
    .header .block:nth-child(2) > .cnt > .link > .agent{
        background: url("../img/agent.png")no-repeat center;
        background-size: contain;
        width: 250px;
        height: 40px;
    }
    .header .block:nth-child(2) > .cnt > .link > .gotoBank{
        background: url("../img/gotoBank.png")no-repeat center;
        background-size: contain;
        margin-top:20px;
        width: 250px;
        height: 40px;
    }
    .inf{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .inf p{color:#fff;padding: 20px;}
    .content{
        width:100%;
        height:800px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
    }
    .content > .container > .title-rent{
        background: url("../img/title-1.png")no-repeat center;
        background-size: contain;
        width: 100%;
        height: 30px;
        margin: 0px auto;
        margin-top:25px;
        margin-bottom: 25px;
    }
    .content > .container > .title-back{
        background: url("../img/title-2.png")no-repeat center;
        background-size: contain;
        width:100%;
        height: 30px;
        margin: 0px auto;
        margin-top:25px;
        margin-bottom: 25px;
    }
    .content > .container > .title-condition{
        background: url("../img/title-3.png")no-repeat center;
        background-size: contain;
        width:100%;
        height: 40px;
        margin: 0px auto;
        margin-top:40px;
        margin-bottom: 30px;
    }
    .content > .block{
        display: flex;
        flex-direction: column;
    }
    .content > .container{
        width:100%;
        margin:0 auto;
    }
    .content > .container > .block {
        display: flex;
        align-items: center;
    }
    .content:nth-child(2){
        height:930px;
    }
    .content:nth-child(2) > .container > .block > .cnt{
        width:90%;
    }
    .content:nth-child(2) > .container > .block > .cnt:nth-child(1),
    .content:nth-child(2) > .container > .block > .cnt:nth-child(3){
        display: flex;
        flex: 1;
        flex-direction: column-reverse;
    }
    .content:nth-child(3){
        height: 700px;
    }
    .content:nth-child(3) > .container > .block{
        flex-direction: column;
    }
    .content:nth-child(3) > .container > .block > .cnt{
        width:100%;
    }
    .content:nth-child(4){
        height:1400px;
    }
    .content:nth-child(4) > .container > .block{
        flex-direction: column;
    }
    .content:nth-child(4) > .container > .block > .cnt{
        flex-direction:column;
        width: 100%;
        align-items: center;
    }
    .content:nth-child(4) > .container > .block > .cnt:nth-child(1){
        height: 300px;
    }
    .content:nth-child(4) > .container > .block > .cnt:nth-child(2){
        height: 400px;
    }
    .content:nth-child(4) > .container > .block > .cnt:nth-child(1){
        height: 390px;
    }
    .content:nth-child(5){
        height:1000px;
    }
    .content:nth-child(6),.content:nth-child(7){
        display: none;
    }
    .aarow-right,.aarow-left{
        display: none;
    }
    
    .cnt-text{
        width: 90%;
        font-size: 19px;
        margin:0 auto;
        text-align: justify;
    }
    .cnt-a{
        background: url("../img/cont1-a.png")no-repeat;
        background-size: contain;
        width:100%;
        height:130px;
        margin: 10px auto;
    }
    .cnt-b{
        background: url("../img/cont1-b.png")no-repeat;
        background-size: contain;
        width:100%;
        height:130px;
        margin: 10px auto;
    }
    .cnt-c{
        background: url("../img/cont1-c.png")no-repeat;
        background-size: contain;
        width:100%;
        height:130px;
        margin: 10px auto;
    }
    .cnt-analy-left{
        background: url("../img/chart-1.png")no-repeat center;
        background-size: contain;
        width:80%;
        height:300px;
        margin:0 auto;
    }
    .cnt-analy-right{
        background: url("../img/chart-2.png")no-repeat center;
        background-size: contain;
        width:80%;
        height:300px;
        margin:0 auto;
    }
    .condition-1{
        background: url("../img/condition-1.png")no-repeat center;
        background-size: contain;
        width:80%;
        height:200px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .condition-2{
        background: url("../img/condition-2.png")no-repeat center;
        background-size: contain;
        width:80%;
        height:200px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .condition-3{
        background: url("../img/condition-3.png")no-repeat center;
        background-size: contain;
        width:80%;
        height:200px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .condtext{
        font-size: 19px;
        width: 59%;
        margin: 20px auto;
    }
    .content:nth-child(4) > .container > .block > .cnt > p{
        width: 56%;
        margin-top: 20px;
        font-size: 15px;
        text-indent: -9px;
        text-align: justify;
        margin: 0 auto;
    }
    .notice{
        width: 85%;
        margin: 0 auto;
        text-align: justify;
        font-size: 17px;
    }
    .advantage{
        background: url("../img/advantage2.png")no-repeat center;
        background-size: contain;
        width: 100%;
        height: 750px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .advantageLink{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .knowledge{
        background: url(../img/btn-knowledge.png)no-repeat center;
        background-size: contain;
        width: 100%;
        height: 80px;
    }
    .product{
        background: url(../img/btn-more.png)no-repeat center;
        background-size: contain;
        width: 100%;
        height: 80px;
    }
    
}
@media (min-width: 768px) {
    *{margin:0;padding:0;}
    body {font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;height:100%;margin:0;}
    .wrap{width:100%;margin:0 auto;background: #d3edfb;border: 1px solid #dedede;}
    .header{}
    .block{
        display: flex;
    }
    .header .block:nth-child(1){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #0095bd;
        height:50px;
        width: 100%;
    }
    .pageTitle{margin-left:2%;color:#fff;}
    .header .block:nth-child(2){
        flex-direction: row;
        justify-content: space-around;
        margin-top:10px;
        width: 100%;
        height:415px;
        background:url("../img/kv-bg.png")no-repeat center;
        background-size: cover;
    }
    .header .block:nth-child(2) > .cnt{
        width:50%;
    }
    .header .block:nth-child(2) > .cnt > .map{
        background: url("../img/kv-map.png")no-repeat;
        background-size: contain;
        position: absolute;
        width: 60%;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .home{
        background: url("../img/kv-home.png")no-repeat;
        background-size: contain;
        position: absolute;
        width: 60%;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .people{
        background: url("../img/kv-people.png")no-repeat;
        background-size: contain;
        position: absolute;
        width: 60%;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .slogan{
        background: url("../img/kv-title.png")no-repeat;
        background-size: contain;
        width: 60%;
        height: 220px;
        margin-left: 80px;
        margin-top: 60px;
    }
    .header .block:nth-child(2) > .cnt:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    .header .block:nth-child(2) > .cnt > .link{
        width:75%;
        display: flex;
        flex-direction: row;
        margin-left: 85px;
    }
    .header .block:nth-child(2) > .cnt > .link > .agent{
        background: url("../img/agent.png")no-repeat;
        background-size: contain;
        width: 35%;
        height: 50px;
    }
    .header .block:nth-child(2) > .cnt > .link > .gotoBank{
        background: url("../img/gotoBank.png")no-repeat;
        background-size: contain;
        width: 35%;
        height: 50px;
        margin-left:20px;
    }
    .inf{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .inf p{color:#fff;padding: 20px;}
    .content{
        width:100%;
        height:570px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
    }
    .content:nth-child(3){
        height:410px;
    }
    .content:nth-child(4){
        height:590px;
    }
    .content:nth-child(4) .block{
        width: 80%;
        margin: 0 auto;
    }
    
    .content:nth-child(5){
        height:320px;
    }
    .content:nth-child(7){
        height:260px;
    }
    .content > .container > .title-rent{
        background: url("../img/title-1.png")no-repeat;
        background-size: contain;
        width: 60%;
        height: 90px;
        margin: 0px auto;
        margin-top:35px;
    }
    .content > .container > .title-back{
        background: url("../img/title-2.png")no-repeat;
        background-size: contain;
        width: 50%;
        height: 90px;
        margin: 0px auto;
        margin-top:35px;
    }
    .content > .block{
        display: flex;
        flex-direction: column;
    }
    .content > .container{
        width:100%;
        margin:0 auto;
    }
    .content > .container > .block {
        display: flex;
        align-items: center;
    }
    .content > .container > .block > .cnt{
        display: flex;
        flex: 1;
        width: 85%;
    }
    .content:nth-child(4) > .container > .block > .cnt{
        flex-direction:column;
        height: 385px;
        align-items: center;
    }
    
    .aarow-right{
        background: url("../img/arrow-right.png")no-repeat center;
        background-size: contain;
        width:3%;
        height: 115;
        margin: 10px;
    }
    .aarow-left{
        background: url("../img/arrow-left.png")no-repeat center;
        background-size: contain;
        width:3%;
        height: 115px;
        margin: 10px;
    }
    .cnt-text{
        width: 350px;
        font-size: 13px;
        align-items: center;
        display: flex;
    }
    .title-condition{
        background: url("../img/title-3.png")no-repeat center;
        background-size: contain;
        width:25%;
        height: 90px;
        margin: 0px auto;
        margin-top: 35px;
    }
    .cnt-a{
        background: url("../img/cont1-a.png")no-repeat;
        background-size: contain;
        width: 60%;
        height: 130px;
    }
    .cnt-b{
        background: url("../img/cont1-a.png")no-repeat;
        background-size: contain;
        width: 60%;
        height: 130px;
    }
    .cnt-c{
        background: url("../img/cont1-a.png")no-repeat;
        background-size: contain;
        width: 60%;
        height: 130px;
    }
    .cnt-analy-left{
        background: url("../img/chart-1.png")no-repeat;
        background-size: contain;
        width: 80%;
        height: 275px;
        margin-left: 15%;
    }
    .cnt-analy-right{
        background: url("../img/chart-2.png")no-repeat;
        background-size: contain;
        width: 80%;
        height: 275px;
        margin-right: 15%;
    }
    .condition-1{
        background: url("../img/condition-1.png")no-repeat;
        background-size: contain;
        width:150px;
        height:150px;
        margin: 20px;
        
    }
    .condition-2{
        background: url("../img/condition-2.png")no-repeat;
        background-size: contain;
        width:150px;
        height:150px;
        margin: 20px;
    }
    .condition-3{
        background: url("../img/condition-3.png")no-repeat;
        background-size: contain;
        width:150px;
        height:150px;
        margin: 20px;
    }
    .condtext{
        font-size: 16px;
        width: 130px;
    }
    
    .content:nth-child(4) > .container > .block > .cnt > p{
        width: 130px;
        margin-top: 20px;
        font-size: 0.5em;
        text-indent: -9px;
    }
    .content:nth-child(7) > .container{
        margin-top:10px;
    }
    .notice{
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
        width: 80%;
        margin: 0 auto;
    }
    .advantage{
        background: url("../img/advantage.png")no-repeat;
        background-size: contain;
        width: 65%;
        height: 160px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .advantageLink{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .knowledge{
        background: url(../img/btn-knowledge.png)no-repeat;
        background-size: contain;
        width: 220px;
        height: 80px;
    }
    .product{
        background: url(../img/btn-more.png)no-repeat;
        background-size: contain;
        width: 220px;
        height: 80px;
    }
    .hintTitle{
        padding-top: 50px;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .tra{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #000 transparent transparent transparent;
        margin-left:20px;
        margin-top:8px;
    }
    .hintContent ul{
        list-style: decimal;
        font-size: 15px;
        margin: 8%;
        margin-top: 30px;
    }
    .siteInf{
        color:#fff;
        font-size: 12px;
        width: 90%;
        margin: 0 auto;
    }
}
@media (min-width: 1024px) {
    *{margin:0;padding:0;}
    body {font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;height:100%;margin:0;}
    .wrap{width:1300px;margin:0 auto;background: #d3edfb;border: 1px solid #dedede;}
    .header{}
    .block{
        display: flex;
    }
    .header .block:nth-child(1){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #0095bd;
        height:50px;
        width: 100%;
    }
    .pageTitle{margin-left:2%;color:#fff;}
    .header .block:nth-child(2){
        flex-direction: row;
        justify-content: space-around;
        margin-top:10px;
        width: 100%;
        height:600px;
        background:url("../img/kv-bg.png")no-repeat;
        background-size: cover;
    }
    .header .block:nth-child(2) > .cnt{
        width:50%;
    }
    .header .block:nth-child(2) > .cnt > .map{
        background: url("../img/kv-map.png")no-repeat;
        position: absolute;
        width: 790px;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .home{
        background: url("../img/kv-home.png")no-repeat;
        position: absolute;
        width: 689px;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .people{
        background: url("../img/kv-people.png")no-repeat;
        position: absolute;
        width: 689px;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .slogan{
        background: url("../img/kv-title.png")no-repeat;
        width: 400px;
        height: 400px;
        margin-left: 80px;
        margin-top: 90px;
    }
    .header .block:nth-child(2) > .cnt:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    .header .block:nth-child(2) > .cnt > .link{
        display: flex;
        flex-direction: row;
        margin-left: 80px;
    }
    .header .block:nth-child(2) > .cnt > .link > .agent{
        background: url("../img/agent.png")no-repeat;
        background-size: contain;
        width: 180px;
        height: 50px;
    }
    .header .block:nth-child(2) > .cnt > .link > .gotoBank{
        background: url("../img/gotoBank.png")no-repeat;
        background-size: contain;
        width: 180px;
        height: 50px;
        margin-left:20px;
    }
    .inf{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .inf p{color:#fff;padding: 20px;}
    .content{
        width:100%;
        height:800px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
    }
    .content:nth-child(2){
        height:655px;
    }
    .content:nth-child(3){
        height:600px;
    }
    .content:nth-child(4) {
        height: 650px;
    }
    .content:nth-child(5) {
        height: 360px;
    }
    .content:nth-child(6){
        height:420px;
    }
    .content:nth-child(7){
        height:70px;
    }
    .content:nth-child(7) > .container {
    margin-top: 17px;
}
    .title-rent{
        background: url("../img/title-1.png")no-repeat center;
        width: 640px;
        height: 90px;
        margin: 0px auto;
        margin-top:55px;
    }
    .title-back{
        background: url("../img/title-2.png")no-repeat center;
        width: 640px;
        height: 90px;
        margin: 0px auto;
        margin-top:55px;
    }
    .title-condition{
        background: url("../img/title-3.png")no-repeat center;
        width: 640px;
        height: 90px;
        margin: 0px auto;
        margin-top:55px;
    }
    .content > .block{
        display: flex;
        flex-direction: column;
    }
    .content > .container{
        width:1000px;
        margin:0 auto;
    }
    .content > .container > .block {
        display: flex;
        align-items: center;
    }
    .content > .container > .block > .cnt{
        display: flex;
        flex: 1;
    }
    .content:nth-child(4) > .container > .block > .cnt{
        flex-direction:column;
        height: 385px;
        align-items: center;
    }
    .aarow-right{
        background: url("../img/arrow-right.png")no-repeat center;
        background-size: contain;
        width:25px;
        height: 150px;
    }
    .aarow-left{
        background: url("../img/arrow-left.png")no-repeat center;
        background-size: contain;
        width:25px;
        height: 150px;
    }
    .cnt-text{
        width: 350px;
        font-size: 1em;
        margin: 30px;
    }
    .cnt-a{
        background: url("../img/cont1-a.png")no-repeat;
        background-size: contain;
        width:400px;
        height:150px;
    }
    .cnt-b{
        background: url("../img/cont1-a.png")no-repeat;
        background-size: contain;
        width:400px;
        height:150px;
    }
    .cnt-c{
        background: url("../img/cont1-a.png")no-repeat;
        background-size: contain;
        width:400px;
        height:150px;
    }
    .cnt-analy-left{
        background: url("../img/chart-1.png")no-repeat;
        width:400px;
        height:400px;
    }
    .cnt-analy-right{
        background: url("../img/chart-2.png")no-repeat;
        width:400px;
        height:400px;
    }
    .condition-1{
        background: url("../img/condition-1.png")no-repeat;
        width:200px;
        height:200px;
        margin: 20px;
    }
    .condition-2{
        background: url("../img/condition-2.png")no-repeat;
        width:200px;
        height:200px;
        margin: 20px;
    }
    .condition-3{
        background: url("../img/condition-3.png")no-repeat;
        width:200px;
        height:200px;
        margin: 20px;
    }
    .condtext{
        font-size: 1em;
        width: 187px;
    }
    .content:nth-child(4) > .container > .block > .cnt > p{
        width: 200px;
        margin-top: 20px;
        font-size: 13px;
        text-indent: -9px;
    }
    .notice{
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
    }
    .advantage{
        background: url("../img/advantage.png")no-repeat;
        background-size: contain;
        width: 700px;
        height: 200px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .advantageLink{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .knowledge{
        background: url(../img/btn-knowledge.png)no-repeat;
        background-size: contain;
        width: 220px;
        height: 80px;
    }
    .product{
        background: url(../img/btn-more.png)no-repeat;
        background-size: contain;
        width: 220px;
        height: 80px;
    }
    .hintTitle{
        padding-top: 50px;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .tra{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #000 transparent transparent transparent;
        margin-left:20px;
        margin-top:8px;
    }
    .hintContent ul{
        list-style: decimal;
    }
    .siteInf{
        color:#fff;
    }
}
 @media (max-height: 415px) and (orientation: Landscape){
    .addFavorite{height:min-content;}
}