@media all and (orientation : landscape) {
  #news,#weather,.sideMenu,.loading,.loadingPage{display: none;}
}
/* pc view */
@media screen and (min-width:1024px){
  .hint{
      width:100%;
      height:100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(255, 201, 102);
      z-index: 99999;
  }
  .hint p{
      color:#000;
      font-size: 2em;
      font-weight: bold;
  }
  #news,#weather,.sideMenu,.loading,.loadingPage{display: none;}
}

/* 預留 ipad 版型*/
@media screen and (min-width:700px) and (max-width:1023px) {
  .hint{
      width:100%;
      height:100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(255, 201, 102);
      z-index: 99999;
  }
  .hint p{
      color:#000;
      font-size: 2em;
      font-weight: bold;
  }
  #news,#weather,.sideMenu,.loading,.loadingPage{display:none;}
}