<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>練習 13： YouBike 臺北市公共自行車即時資訊</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body {
      padding: 1em;
    }
	.hidden{
		display:none;
	}
	i.fa{
		cursor:pointer;
		height:8px;
	}
	i.fa-sort-desc{
		height:16px;
	}
	.snoID,.bikeFree,.bikeBlock{
		padding-right:10px;
	}
	.itemBar{
		display: flex;
    	align-items: center;
	}
	.table-striped tbody tr:nth-of-type(odd){
		background:transparent;
	}
	tbody:nth-child(odd){
		background:#f1f1f1;
	}
  </style>

  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
  <p>
    練習 13： YouBike 臺北市公共自行車即時資訊 <br>
    完成下列表格，並加入:
    1. 站點名稱搜尋
    2. 目前可用車輛 / 總停車格 的排序功能
  </p>

  <hr>

  <div id="app">
    <p>
      站點名稱搜尋: <input type="text" v-model="stepName"><button @click="searchName">搜尋</button>
    </p>
	
    <table class="table table-striped">
      <thead>
        <tr>
          	<th class="itemBar">
				<span class="snoID">代號</span>
				<i class="fa fa-sort-asc" v-on:click="sortSno" :class="{'hidden':Sno==1}"></i>
            	<i class="fa fa-sort-desc" v-on:click="sortSno" :class="{'hidden':Sno==0}"></i>
			  </th>
          	<th>場站名稱</th>
          	<th>場站區域</th>
          	<th class="itemBar"><span class="bikeFree">目前可用車輛</span>
            	<i class="fa fa-sort-asc"  v-on:click="sortSbi" :class="{'hidden':Sbi==1}"></i>
            	<i class="fa fa-sort-desc" v-on:click="sortSbi" :class="{'hidden':Sbi==0}"></i>
          	</th>
			<th ><span class="bikeBlock">總停車格</span>
				<i class="fa fa-sort-asc" v-on:click="sortTot" :class="{'hidden':Tot==1}"></i>
				<i class="fa fa-sort-desc" v-on:click="sortTot" :class="{'hidden':Tot==0}"></i>
			</th>
          	<th>資料更新時間</th>
        </tr>
      </thead>
      <tbody v-for="q of filteredSales">
		<!-- 請補完 -->
		<tr>
			<td v-model="sortType">{{q.sno}}</td>
			<td>{{q.sna}}</td>
			<td>{{q.sarea}}</td>
			<td>{{q.sbi}}</td>
			<td>{{q.tot}}</td>
			<td>{{q.mday}}</td>
		</tr>
      </tbody>
    </table>
  </div>


  <script>

    // 欄位說明請參照:
    // http://data.taipei/opendata/datalist/datasetMeta?oid=8ef1626a-892a-4218-8344-f7ac46e1aa48
    // 半成品參考: https://kuro.tw/vue-ubike-information/

    // sno：站點代號、 
    // sna：場站名稱(中文)、 
    // tot：場站總停車格、
    // sbi：場站目前車輛數量、 
    // sarea：場站區域(中文)、 
    // mday：資料更新時間、
    // lat：緯度、 
    // lng：經度、 
    // ar：地(中文)、 
    // sareaen：場站區域(英文)、
    // snaen：場站名稱(英文)、 
    // aren：地址(英文)、 
    // bemp：空位數量、 
    // act：全站禁用狀態

    const app = Vue.createApp({
      data () {
        return {
		  uBikeStops: [],
		  year:[],
		  day:[],
		  time:[],
		  Sno:1,
		  Tot:1,
		  Sbi:1,
		  stepName:''
		  
        }
      },
      created () {
        fetch('https://tcgbusfs.blob.core.windows.net/blobyoubike/YouBikeTP.gz')
            .then(res => res.json())
            .then(json => {
              	const stops = Object.keys(json.retVal).map(key => json.retVal[key]);
              	this.uBikeStops = stops;
			});
			// console.log(this.uBikeStops);
	  },
	  computed:{
			filteredSales() {
				return this.uBikeStops.filter((d) => d.sno < 21);
			}	
	  },
	  methods:{
		  	// 我們要做一個機制是可以切換升序跟降序的功能
			// 預設排序圖案是升序，點擊可以切換

			// 代號排序，預設是由小到大
			sortSno(){
				if(this.Sno===0){
					this.Sno = this.Sno + 1;
					return this.uBikeStops.sort((small,big) => small.sno - big.sno);
					// console.log(this.Sno);
				}
				else{
					this.Sno = 0;
					return this.uBikeStops.sort((small,big) => big.sno - small.sno);
					// console.log(this.Sno);
				}
			},

			// 停車格數量排序，預設是由小到大
			sortTot(){
				if(this.Tot===0){
					this.Tot = this.Tot + 1;
					return this.uBikeStops.sort((small,big) => small.tot - big.tot);
					console.log(this.Tot);
				}
				else{
					this.Tot = 0;
					return this.uBikeStops.sort((small,big) => big.tot - small.tot);
					console.log(this.Tot);
				}
			},

			// 車輛數量的排序，預設是由小到大
			sortSbi(){
				if(this.Sbi===0){
					this.Sbi = this.Sbi + 1;
					return this.uBikeStops.sort((small,big) => small.sbi - big.sbi);
					console.log(this.Sbi);
				}
				else{
					this.Sbi = 0;
					return this.uBikeStops.sort((small,big) => big.sbi - small.sbi);
					console.log(this.Sbi);
				}
			},
			searchName(){
				return this.uBikeStops.filter(d => d.sna.includes(this.stepName))
			}
	  }
    }).mount('#app');
  </script>

</body>

</html>