body{
	font-family: 微軟正黑體,Arial, Helvetica, sans-serif;
}

h1,
.logo-lg,
.box-title{
	font-family: 微軟正黑體,Arial, Helvetica, sans-serif;
}
.main-header{
	background-color: #383838;
}

.skin-blue .main-header .navbar,
.skin-blue .main-header .logo{
	background-color: transparent;
}
.small-box .icon{
	font-size: 70px;
}

.small-box,
.box-success,
.box-danger{
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 10px #939393;
	-moz-box-shadow: 1px 1px 10px #939393;
	-webkit-box-shadow: 1px 1px 10px #939393;
	box-shadow: 1px 1px 10px #939393;
}

.skin-blue .wrapper, 
.skin-blue .main-sidebar, 
.skin-blue .left-side{
	background-color: #222d32;
}

/*icon*/
.treeview > a >i.fa-users{
	color:#ffca3a;
}
.fa-money{
	color:#a6d882;
}
.fa-bar-chart-o{
	color:#7adaef;
}
.fa-gamepad{
	color:#efd29b;
}
.fa-gear{
	color:#c4c1bc;
}
.fa-buysellads{
	color:#ff8e2b;
}
.fa-creative-commons{
	color:#ffe4bc;
}
.fa-bullhorn{
	color:#2a9bd3;
}
.fa-question-circle{
	color:#a6f0f4;
}

i.fa-circle{
	font-size: 10px;
	visibility: hidden;
}

.treeview-menu > li:hover i.fa-circle{
	visibility: inherit;
}

/* loginPage */
.loginInf{
	display:flex;
	height:105px;
	flex-direction: column;
	justify-content: space-around;
}
.forgetPWD,.regBtn{
	height:45px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.forgetPWD{
	background: #000;
}
.regBtn{
	background: #fff;
	border:1px solid #000;
}
.dataForm{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	transition:width 1s;
	-webkit-transition:width 1s;
	-moz-transition:width 1s;
	-o-transition:width 1s;
	display:none;
	position: fixed;;
	z-index: 999;
}
.cover{
	width:600px;
	display:none;
	align-items:center;
	justify-content:center;
	position: absolute;
    top: 5%;
	left: 25%;
	z-index: 1000;
}
.record{
	width:600px;
	height:auto;
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content:space-around;
	background:#fff;
	border-radius: 10px;
    margin-top: 5%;
	z-index: 999;
	position: fixed;
}
.block{
	width:90%;
	display:flex;
	justify-content: center;
}
.sub-block{
	margin-top:5%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content: start;
}
.data-Title,
.data-day,
.data-type,
.data-price{
	width:100%;
	height:35px;
	border: none;
    border: 1px solid #b5b5b5;
    margin-bottom: 10px;
    border-radius: 5px;
    text-indent: 10px;
}

.data-addBtn,
.data-saveBtn,
.data-cancelBtn{
	width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 5px;
	cursor: pointer;
	flex:1;
}
.block:nth-child(2){
	justify-content:start;
	flex-direction:row;
}
.block:nth-child(2) .sub-block{
	flex-direction:row;
}
.block:nth-child(3){
	margin-top:5%;
	flex-direction: column;
	margin-bottom: 20px;
}
.data-addBtn{
	background: #000;
	color: #fff;
}
.data-saveBtn{
	color:#fff;
	background: rgb(23, 173, 131);
	margin-left:15px;
}
.data-cancelBtn{
	color:#000;
	background: #fff;
	border:1px solid rgb(173, 173, 173);
	margin-left:15px;
}
.listContent{
	display:flex;
	height: 30px;
	justify-content: space-between;
}
.listContent span{
	flex:1;
	display:flex;
}
.recordList{
	overflow-y: auto;
    max-height: 250px;
}
.recordData{
	list-style: none;
	display: flex;
	justify-content: space-between;
    align-items: center;
	height: 30px;
}
.recordData span{
	flex:1;
	display: flex;
}
.infBlock{
	width:100%;
	background: #272727;
}
.friendsBlock{
	width:31%;
	margin:1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.friendsPic{
	width:60px;
	height:60px;
	border-radius: 999em;
	background-color:black;
	overflow: hidden;
}
.friendsPic img{
	width:100%;
}
.friendsName{
	color:#fff;
	font-size: 16px;
}
.friendsData{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.friends-Name{
	width:100%;
	display:flex;
	justify-content:start;
	padding:10px;
}
.friends-Pic{
	display:flex;
	align-items: center;
	justify-content: center;
  top: 20%;
}
.friends-Inf{
	width:100%;
	height:70px;
	display:flex;
	margin-top:-12px;
	background: #464646;
	align-items:center;
	justify-content:space-around;
}
.detail{
	display:flex;
	flex: 1;
	color:#fff;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.detail:nth-child(2){
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}
.infList{
	width:100%;
	height:auto;
	background: rgb(245, 245, 245);
	display:none;
}
.infList div{
	height:40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom:1px solid #eaeaea;
}
.inf-title{
	margin-left:5%;
}
.inf-content{
	margin-right: 5%;
}